<!-- Header Section -->
<header class="header" id="header">
    <nav class="navbar container">
       <a href="#" class="brand">WalkWithAlby</a>
       <div class="burger" id="burger">
          <span class="burger-line"></span>
          <span class="burger-line"></span>
          <span class="burger-line"></span>
       </div>
       <div class="menu" id="menu">
          <ul class="menu-inner">
             <li class="menu-item"><a href="#" class="menu-link">Home</a></li>
             <li class="menu-item"><a href="#" class="menu-link">About me</a></li>
             <li class="menu-item"><a href="#" class="menu-link">Video</a></li>
             <li class="menu-item"><a href="#" class="menu-link">Stories</a></li>
             <li class="menu-item"><a href="#" class="menu-link">Contact</a></li>
          </ul>
       </div>
       <a href="#" class="menu-block btn-darken">Buy me a coffe</a>
    </nav>
 </header>
 <!-- Main Section -->
 <main class="main">
    <section class="section banner banner-section">
       <div class="container banner-column">
          <img class="banner-image" src="../../../../../../assets/images/profile.jpg" alt="banner">
          <div class="banner-inner">
             <h1 class="heading-xl">Every Day is a new story</h1>
             <p class="paragraph">
                Hi, Welcome to my channel. I hope you are having a wonderful day. Dream, Believe and Achieve. Have a wonderful time 
             </p>
             <button class="btn btn-darken btn-inline">
                Button 2<i class="bx bx-right-arrow-alt"></i>
             </button>
          </div>
          <div class="banner-links">
             <a href="#" title=""><img src="../../../../../../assets/images/icons/instagram.png" height="5" style="height: 17px;" alt=""></a>
             <a href="#" title=""><img src="../../../../../../assets/images/icons/youtube.png" height="5" style="height: 17px;" alt=""></a>
             <!-- <a href="#" title=""><i class="bx bxl-twitter"></i></a>
             <a href="#" title=""><i class="bx bxl-youtube"></i></a> -->
          </div>
       </div>
    </section>
 </main>


 <main class="main">
    <section class="section banner banner-section">
       <div class="container banner-column">
          <img class="banner-image" src="../../../../../../assets/images/profile.jpg" alt="banner">
          <div class="banner-inner">
             <h1 class="heading-xl">Every Day is a new story</h1>
             <p class="paragraph">
                Hi, Welcome to my channel. I hope you are having a wonderful day. Dream, Believe and Achieve. Have a wonderful time 
             </p>
             <button class="btn btn-darken btn-inline">
                Button 2<i class="bx bx-right-arrow-alt"></i>
             </button>
          </div>
          <div class="banner-links">
             <a href="#" title=""><img src="../../../../../../assets/images/icons/instagram.png" height="5" style="height: 17px;" alt=""></a>
             <a href="#" title=""><img src="../../../../../../assets/images/icons/youtube.png" height="5" style="height: 17px;" alt=""></a>
             <!-- <a href="#" title=""><i class="bx bxl-twitter"></i></a>
             <a href="#" title=""><i class="bx bxl-youtube"></i></a> -->
          </div>
       </div>
    </section>
 </main>