<!-- Header Section -->
<header class="header" id="header">
    <nav class="navbar container">
       <a href="#" class="brand">WalkWithAlby</a>
       <div class="burger" id="burger">
          <span class="burger-line"></span>
          <span class="burger-line"></span>
          <span class="burger-line"></span>
       </div>
       <div class="menu" id="menu">
          <ul class="menu-inner">
             <li class="menu-item"><a href="#" class="menu-link">Home</a></li>
             <li class="menu-item"><a href="#" class="menu-link">About me</a></li>
             <li class="menu-item"><a href="#" class="menu-link">Video</a></li>
             <li class="menu-item"><a href="#" class="menu-link">Stories</a></li>
             <li class="menu-item"><a href="#" class="menu-link">Contact</a></li>
          </ul>
       </div>
       <a href="#" class="menu-block btn-darken">Buy me a coffe</a>
    </nav>
 </header>
 <!-- Main Section -->
