<main class="main">
    <section class="section banner banner-section">
       <div class="container banner-column">
          <img class="banner-image" src="assets/images/profile.jpg" alt="banner">
          <div class="banner-inner">
             <h1 class="heading-xl">Every day is a new story</h1>
             <p class="paragraph">
                Hi, Welcome to my channel. I hope you are having a wonderful day. Dream, Believe and Achieve. Have a wonderful time 
             </p>
             <button class="btn btn-darken btn-inline">
                Button 2<i class="bx bx-right-arrow-alt"></i>
             </button>
          </div>
          <div class="banner-links">
             <a href="#" title=""><img src="assets/images/icons/instagram.png" height="5" style="height: 17px;" alt=""></a>
             <a href="#" title=""><img src="assets/images/icons/youtube.png" height="5" style="height: 17px;" alt=""></a>
          </div>
       </div>
    </section>
 </main>
